$themes: (
    light: (
        textColor: #000,
        bg: white,
        logo: darkblue,
        bgSoft: #f6f3f3,
        textColorSoft: #555,
        border: lightgray,
    ),
    dark: (
        textColor: whitesmoke,
        bg: #222,
        logo: white,
        bgSoft: #333,
        textColorSoft: lightgray,
        border: #444,
    ),
);
    
@use "sass:map";

@mixin themify($themes) {
  @each $theme, $map in $themes {
    // read about & in notes pg 117 (& is replaced by the outer class in nested loops)
    .theme-#{$theme} & {
        // $theme-map is an empty list/map with global scope
        $theme-map: () !global;
        @each $key, $value in $map {
            $theme-map: map.merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
    }
  }
}

@mixin mobile{
  @media (max-width: 480px){
    @content; 
  }
}

@mixin tablet{
  @media (max-width: 960px){
    @content; 
  }
}

@function themed($key) {
  @return map.get($theme-map, $key);
}